/* FONT */
@font-face {
    font-family: 'Barlow';
    src: url(../font/);
}

/* HERO */
#hero {
    background-image: url(../img/mobile/image-header.jpg);
    background-size: cover;
    height: 70vh;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    gap: 2.5rem;
    color: white;
}

.hero-bar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

#hero nav {
    display: none;
}

/* MAIN */
section {
    text-align: center;
    position: relative;
}

section:nth-child(2),
section:nth-child(4) {
    padding: 3rem 2rem;
}

.box {
    position: relative;
}

.box-text {
    position: absolute;
    bottom: 0;
    padding: 3rem;
}

h4 {
    text-align: center;
    margin-top: 4rem;
}

#articles {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    margin-top: 2rem;
    padding: 2rem;
}

#articles img {
    border-radius: 50%;
    width: 6rem;
    margin: 0 auto;
}

#articles article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#articles span {
    display: block;
    margin-top: .5rem;
}

#pictures img {
    width: 50%;
}

#pictures {
    display: flex;
    flex-wrap: wrap;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #90D4C5;
    padding: 4rem;
}

footer .logo {
    color: #2D7567;
}

footer nav ul {
    display: flex;
    gap: 2rem;
    color: #2D7567;
}

footer .socials {
    display: flex;
    gap: 2rem;
}

@media screen and (min-width: 375px) {

    #hero {
        background-image: url(../img/desktop/image-header.jpg);
        background-position: center;
    }

    .hero-burger {
        display: none;
    }

    #hero nav {
        display: flex;
    }

    #hero nav ul {
        display: flex;
        gap: 1.5rem;
        color: white;
    }

    #hero nav ul li {
        padding: .5rem 1.5rem;
    }

    #hero nav ul li:last-child {
        background-color: white;
        color: black;
        border-radius: 2rem;
    }

    .box {
        width: 50%;
    }
    .box img{
        width: 100%;
    }

    #boxs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    section:nth-child(2) {
        order: -1;
    }

    section:nth-child(2),
    section:nth-child(4) {
        padding: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    section:nth-child(1) {
        content: url(../img/desktop/image-transform.jpg);
    }

    section:nth-child(3) {
        content: url(../img/desktop/image-stand-out.jpg);
    }

    section:nth-child(5) img {
        content: url(../img/desktop/image-graphic-design.jpg);
    }

    section:nth-child(6) img {
        content: url(../img/desktop/image-photography.jpg);
    }

    #articles {
        flex-direction: row;
        justify-content: center;
        padding: 3rem 8rem 8rem 3rem;
    }

    #pictures {
        flex-wrap: nowrap;
    }
}